book/examples/**
book/examples.zip
book/powerpoint
/designpatterns/ObserverPattern/nbproject/private/
/designpatterns/ObserverPattern/build/
/designpatterns/ObserverPatternWithObservable/nbproject/private/
/designpatterns/ObserverPatternWithObservable/build/
/designpatterns/ObserverPatternWithObservable/dist/
/designpatterns/SwingObserverExample/nbproject/private/
/assignments/pa3/ExtendedEmployee/nbproject/private/
/assignments/pa3/ExtendedEmployee/build/
/sandbox/GuiBasics2/nbproject/private/
/sandbox/GUIFormExamples/nbproject/private/