book/examples/**
book/examples.zip
book/powerpoint
/designpatterns/ObserverPattern/nbproject/private/
/designpatterns/ObserverPattern/build/
/designpatterns/ObserverPatternWithObservable/nbproject/private/
/designpatterns/ObserverPatternWithObservable/build/
/designpatterns/ObserverPatternWithObservable/dist/
/designpatterns/SwingObserverExample/nbproject/private/