book/examples/**
book/examples.zip
book/powerpoint
/assignments/SavingsAccount/nbproject/private/
/assignments/AnagramGame/nbproject/private/
/assignments/pa1/SavingsAccount/nbproject/private/
/assignments/pa1/SavingsAccount/build/